body {
  margin: 0px auto;
}
nav {
  position: fixed;
  padding-top: 80px;
  padding-left: 20px;
}
nav > a {
  display: block;
  text-align: right;
  text-decoration: none;
}
nav > a:first-child {
  margin-bottom: 20px;
  font-family: "Oswald", "Impact", sans-serif;
  font-size: 70px;
}
nav > a + a {
  margin: 10px 0px;
  font-family: "Dosis", "Verdana", sans-serif;
  font-size: 40px;
  text-transform: uppercase;
}
#main {
  margin-top: 20px;
  margin-left: 305px;
}
footer {
  margin-left: 305px;
}
footer p:last-child {
  font-family: "Hind", "Verdana", sans-serif;
  font-size: 14px;
  text-align: center;
}
