body {
  margin: 0 auto;
  background-color: #5594B2;
}
nav {
  position: fixed;
  padding-top: 80px;
  padding-left: 20px;
  color: #FFFC9F;
}
nav > a {
  display: block;
  color: #FF8693;
  text-align: right;
  text-decoration: none;
}
nav > a:first-child {
  font-family: "Oswald", "Impact", sans-serif;
  font-size: 70px;
}
nav > a + a {
  font-family: "Dosis", "Verdana", sans-serif;
  font-size: 40px;
  text-transform: uppercase;
}
footer p:last-child {
  font-family: "Hind", "Verdana", sans-serif;
  font-size: 14px;
  text-align: center;
}
#main {
  margin-left: 305px;
  background-color: #57A5CC;
}
